html {
    background-color: #DEDEF1;
}

.push {
    display: flex;
    align-items: flex-end;
}

#title {
    font-size: 75px;
    font-family: 'Nanum Gothic Coding';
    color: aliceblue;
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}
@media screen and (max-width: 560px){
    #title {
        font-size: 40px;
    }
}

.navlist {
    display: flex;
    justify-content: end;

}

li {
    padding: 10px;
    font-size: large;


}

a {
    text-decoration: none;
    color: aliceblue;
}
p {
    font-family: monospace;
}
li:hover {
    
    cursor: pointer;

}

/* This is the hero img */




.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #dedef1;
    padding-top: 20px;
    justify-content: center;
    align-items: center;

    
}

.boxer {
    padding: 20px;

}

.aside {

    
    border: 2px;
    width: 214px;
    height: 234px;
    display: flex;
    justify-content: center;
    background-image: url('/Images/selfie.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    

}



/* MODAL BEGINS */

.formP {
    padding: 40px;
}

.divide{
    display: flex;
    justify-content: center;
}

.bigBlock {
    border: 2px;
    border-color: black;
    border-style: solid;
}



.modal {
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: 0;
    top: 0;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
 
  .modal-ccontent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    
  }



  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* END OF MODAL */




/* PROJECT GRID */
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 0px;
    background-color: #DEDEF1;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.item1 {
    background-image: url('/Images/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 250ms;

}
.item1:hover {
    transform: translateY(-10px);
    border: 1px;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    
}


.item2{
    background-image: url('/Images/codeimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 250ms;
    
    

}

.item2:hover {
    transform: translateY(-10px);
    border: 1px;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    
}

.item3{
    background-image: url('/Images/Pricepic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 250ms;

}
.item3:hover {
    transform: translateY(-10px);
    border: 1px;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    
}

.item4 {
    background-image: url('/Images/weather\ \(3\).png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 250ms;
}

.item4:hover {
    transform: translateY(-10px);
    border: 1px;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    
}

.item5 {
    background-image: url('/Images/githubicon.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
    transition: transform 250ms;
}

.item5:hover {
    transform: translateY(-10px);
    border: 1px;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    
}

.item6 {
    background-image: url('/Images/Sched\ \(2\).png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 250ms;
}

.item6:hover {
    transform: translateY(-10px);
    border: 1px;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    
}


.positionitem1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.positionitem2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.positionitem3{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.positionitem4{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.positionitem5{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.positionitem6{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}




.label {
    max-width: fit-content;
    font-weight: 900;
    font-size: 1.5em;
    color: rgb(1, 1, 1);
    position: absolute;
    

}
.labelG {
    max-width: fit-content;
    font-weight: 900;
    font-size: 1.5em;
    color: white;
    position: absolute;
    

}

/* END GRID */

.hide {
    display: none;
}


.footy {
    bottom: 0;
}


.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade{
    opacity: 0;
    transform: translateX(100%);

}

html.is-leaving .transition-fade{
    opacity: 0;

}